#odin-container {
  position: relative;
  display: flex;
  min-width: 375px;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

#odin-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  flex-shrink: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  background: hsl(243, 24%, 16%);
  box-shadow: 0px 2px 2px 2px hsl(0, 0%, 0%, 40%);
  z-index: 10;
}

#odin-logo {
  height: 30px;
  display: flex;
  align-items: center;
}

#odin-logo img {
  width: 35px;
  height: 35px;
}

#odin-logo span {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.odin-header-navbar {
  display: flex;
  align-items: center;
}

.hamburger-button {
  width: 35px;
  height: 25px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-button div {
  height: 5px;
  border-radius: 2px;
  background: white;
}

#search-container {
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  background: hsl(243, 24%, 12%);
  border-radius: 5px;
  z-index: 14;
}

#search-btn {
  flex-shrink: 0;
  width: 35px;  
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  background: hsl(243, 24%, 12%);
  z-index: 14;
}

#search-btn svg {
  width: 60%;
  height: 60%;
  color: hsl(0, 0%, 90%);
}

#search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 14;
}

#search-input {
  position: relative;
  width: 0;
  height: 35px;
  background: hsl(243, 24%, 12%);
  border-radius: 5px;
  color: hsl(0, 0%, 90%);
  outline: none;
  transition: width 150ms ease-in-out;
  z-index: 14;
}

#search-input::placeholder {
  color: hsl(0, 0%, 80%);
}

#search-close-btn {
  position: relative;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

#search-close-btn svg {
  position: absolute;
  right: -100%;
  width: 25px;
  height: 30px;
  color: white;
  opacity: 0;
  transition: right 150ms ease-in-out;
}

#search-result-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 375px;
  background: hsl(243, 24%, 16%);
  box-shadow: 0 0 4px 4px hsl(243, 24%, 10%);
  border-radius: 0 0 5px 10px;
  opacity: 0;
}

#search-result-header {
  width: 100%;
  height: 50px;
}

#search-result-list {
  width: 100%;
  max-height: 500px;
  transition: opacity 150ms ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.user-search-result, .post-search-result {
  margin-bottom: 5px;
}

.user-search-result {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  transition: background 150ms ease-in-out;
}

.user-search-result:hover, .post-search-result:hover {
  background: hsl(243, 24%, 12%);
}

.user-search-result .profile-picture {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.post-search-result {
  height: 50px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.post-search-result .profile-picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 35px;
  height: 35px;
}

.post-search-result .user-display-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 10px;
  font-size: 14px;
}

.post-search-content-overview {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 90%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#nav-user {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-picture img {
  object-fit: cover;
}

#nav-user .profile-picture {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid hsl(224, 96%, 70%);
}

#nav-user .profile-picture img {
  width: 100%;
  height: 100%;
}

#nav-user a {
  display: none;
  font-size: 14px;
  font-weight: 500;
  color: hsl(224, 96%, 80%);
}

.nav-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(224, 96%, 70%, 50%);
  border-radius: 50%;
  cursor: pointer;
}

.nav-icon-container svg {
  width: 18px;
  height: auto;
  color: hsl(0, 0%, 100%);
  transition: color 150ms ease-in-out;
}

.nav-popup-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  display: none;
  flex-direction: column;
  box-shadow: 0 0 4px 4px hsl(0, 0%, 0%, 30%);
  border-radius: 5px;
  background: hsl(243, 24%, 18%);
  transform: translateY(100%);
}

.nav-popup-item {
  padding: 15px;
  display: flex;
  align-items: center;
  transition: background 150ms ease-in-out;
  font-size: 16px;
  font-weight: 700;
  color: hsl(224, 96%, 80%);
}

.nav-popup-item:hover {
  background: hsl(243, 24%, 14%);
}

.nav-popup-item svg {
  color: hsl(224, 96%, 80%);
  margin-right: 10px;
}

#app-main {
  position: relative;
  flex-basis: 100%;
  padding-top: 50px;
}

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background: var(--aside-container-background);
  z-index: 9;
  transition: left 150ms ease-in-out;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.sidebar-nav-item, .sidebar-nav-title {
  padding: 15px 0;
  padding-left: 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.sidebar-nav-item {
  border-left: 0px solid hsl(224, 96%, 70%, 0%);
  transition: all 150ms ease-in-out;
}

.sidebar-nav-item img {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.sidebar-nav-item:hover {
  background: hsl(243, 24%, 15%);
}

.nav-item-active {
  border-left: 5px solid hsl(224, 96%, 70%);
  background: hsl(243, 24%, 15%);
}

.sidebar-nav-title {
  font-size: 18px; 
  color: hsl(224, 96%, 70%);
}

.friend-list-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: hsl(224, 96%, 70%, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-20px, -20px);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px hsl(243, 24%, 10%);
  z-index: 10;
}

.friend-list-button svg {
  width: 60%;
  height: 60%;
  color: white;
}

#friend-list-container {
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  background: var(--aside-container-background);
  z-index: 9;
  overflow-y: auto;
  overflow-x: hidden;
  transition: right 150ms ease-in-out;
}

#friend-list-container h1 {
  margin-bottom: 15px;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(224, 96%, 70%);
}

.friend-list-section {
  margin-top: 15px;
  width: 100%;
}

.friend-chat-link {
  margin-bottom: 5px;
  padding: 5px 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.friend-chat-link:hover {
  background: var(--aside-container-background-hover);
}

.friend-chat-link span {
  font-size: 14px;
  font-weight: 500;
  color: hsl(224, 96%, 80%);
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.loading-container img {
  width: 50px;
  height: 50px;
  z-index: 21;
}

#friend-request-list {
  margin-top: 0;
}

.friend-request-container {
  width: 100%;
  height: 0px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 25px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.friend-request-container .user-display-name {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 90%;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-request-container .profile-picture {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.friend-request-container .friend-request-options {
  grid-row: 2 / 3;
  grid-column: 2 / 3; 
  width: 100%;
  padding-left: 10px;
  justify-content: start;
}

.friend-request-container .friend-request-options .friend-request-btn {
  width: 75px;
  margin-left: 0;
  margin-right: 5px;
}