.user-page-container {
  width: 100%;
  min-height: 500px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.user-page-header {
  width: 100%;
  background: hsl(243, 24%, 16%);
}

.user-banner {
  position: relative;
  width: 100vw;
  height: 45vw;
  background: hsl(0, 0%, 0%, 40%);
  border-radius: 0 0 10px 10px;
}

.banner-profile-picture {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25%;
  padding-top: 25%;
  transform: translate(-50%, 5%);
  border-radius: 50%;
  box-shadow: 0 0 2px 2px hsl(242, 24%, 21%, 70%);
  overflow: hidden;
}

.banner-profile-picture img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-display-name {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(243, 24%, 16%);
  border-bottom: 5px solid hsl(0, 0%, 0%, 50%);
}

.header-display-name span {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.header-user-nav {
  width: 50%;
  height: 50px;
  display: flex;
}

.header-user-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: hsl(224, 96%, 75%);
  border-bottom: 0 solid hsl(224, 96%, 70%);
  transition: color 150ms ease-in-out,
              border 50ms ease-in-out;
}

.header-user-nav-link:hover {
  color: hsl(224, 96%, 85%);
}

.header-user-nav-link-active {
  border-bottom: 2px solid hsl(224, 96%, 70%);
}

.user-page-header-section {
  width: 100%;
  height: 50px;
  display: flex;
}

.user-friend-status {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

#user-page-main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-page-main .wall-main {
  padding: 0;
  width: 95%;
  align-items: center;
}

#user-page-main .wall-main .post-container {
  max-width: none;
  width: 100%;
}

#user-page-main .wall-main .create-post-container {
  max-width: none;
  width: 100%;
}

.user-section-preview-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-section-preview {
  width: 100%;
  background: hsl(243, 24%, 16%);
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-page-photos-header,
.section-preview-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.user-page-photos-title,
.section-preview-title {
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.section-preview-link {
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 96%, 75%);
  transition: color 150ms ease-in-out;
}

.section-preview-link:hover {
  color: hsl(224, 96%, 85%);
}

.user-photos-preview-grid {
  position: relative;
  padding: 0 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#user-page-photos .user-photos-preview-grid {
  max-height: 720px;
}

#user-page-photos .user-friends-preview-grid {
  max-height: 720px;
}

.user-photos-preview-item {
  position: relative;
  width: 32.5%;
  height: 0;
  padding-top: 32.5%;
  margin-bottom: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.user-photos-preview-item img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsl(0, 0%, 0%, 30%);
  transition: background 150ms ease-in-out;
}

.photo-overlay:hover {
  background: hsl(0, 0%, 0%, 50%);
}

#user-page-photos, #user-page-friends {
  margin-top: 30px;
  width: 95%;
  background: hsl(243, 24%, 16%);
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-friends-preview-grid {
  position: relative;
  padding: 0 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-friends-preview-item {
  position: relative;
  width: 32.5%;
  height: 0;
  padding-top: 32.5%;
  margin-bottom: 30px;
}

.user-friends-profile-picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user-friends-profile-picture .photo-overlay {
  border-radius: 10px;
}

.user-friends-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;  
}

.user-friends-display-name {
  margin-top: 5px;
  color: hsl(0, 0%, 80%);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-friends-display-name:hover {
  text-decoration: underline;
}

@media screen and (min-width: 480px) {
  .banner-profile-picture {
    width: 25%;
    padding-top: 25%;
  }
}

@media screen and (min-width: 720px) {
  #user-page-main {
    width: 80%;
  }

  #user-page-photos, #user-page-friends {
    width: 80%;
  }

  #user-page-photos .user-photos-preview-item, #user-page-friends .user-friends-preview-item {
    width: 24.5%;
    padding-top: 24.5%;
  }

  .header-user-nav-link {
    padding: 0 25px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1366px) {  
  .banner-profile-picture {
    width: 15%;
    padding-top: 15%;
  }

  .user-page-header {
    position: relative;
    width: 70%;
  }

  #user-page-main {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }

  #user-page-main .wall-main {
    grid-column: 6 / 13;
    grid-row: 1 / 2;
    width: 97.5%;
    justify-self: end;
  }

  #user-page-main .post-list {
    align-items: flex-end;
  }

  .user-section-preview-list {
    grid-column: 1 / 6;
    width: 100%;
    place-self: start;
  }

  .user-section-preview {
    width: 100%;  
    background: hsl(243, 24%, 16%);
    border-radius: 5px;
  }
  
  .user-banner {
    width: 100%;
    height: 20vw;
  }

  #user-page-photos, #user-page-friends {
    width: 70%;
  }

  #user-page-photos .user-photos-preview-item, #user-page-friends .user-friends-preview-item {
    width: 19.5%;
    padding-top: 19.5%;
  }
}